<h1>Welcome to my articles</h1>

<p><strong>Title</strong> <%= @article.title %> </p>
<p><strong>Description</strong> <%= @article.description%> </p>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= button_to 'Delete', article_path(@article), method: :delete %>
<%= link_to 'Return to all article', articles_path %>